.container-header{

}

@media (max-width: 1300px){
  .container-header{
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

span{
  color: var(--black-permanent-color) !important;
}
