<div class="  modal-dialog-centered ">
  <div class="modal-content">
    <div class="d-flex flex-column modal-header justify-content-center align-items-center py-2">
      <h5 class="text-center">Добавить новые показания счетчика</h5>
      <h5 class="text-center mb-0 fw-bolder text-primary-emphasis">29.01.2025</h5>
    </div>
    <div class="modal-body d-flex flex-column p-0">
      <div class="d-flex flex-column gap-2 overflow-auto mh-100vh">
        <div class="border-dark border-1 text-center mt-1">
          <span class="fw-bold fs-6">Вода ХВС, ГВС</span>
        </div>
        <!--        Счетчики воды-->
        <div class="d-flex gap-3 align-items-end px-3 pt-3">
          <div class="flex-grow-1">
            <label for="c-453372">453372 ХВС</label>
            <input id="c-453372"
                   class="form-control border-dark"
                   type="number"
                   autocomplete="off">
          </div>
          <div class="flex-grow-1">
            <label for="c-453372">(Декабрь) 453372 ХВС</label>
            <input id="c-453372"
                   class="form-control border-dark"
                   type="number"
                   autocomplete="off">
          </div>
          <div class="flex-grow-1">
            <label for="c-453372">Расход</label>
            <input id="c-453372"
                   class="form-control border-dark"
                   type="number"
                   autocomplete="off">
          </div>
        </div>
        <div class="d-flex gap-2 align-items-end px-3">
          <div class="flex-grow-1">
            <label for="c-446716">446716 ГВС</label>
            <input id="c-446716"
                   class="form-control border-dark"
                   type="number"
                   autocomplete="off">
          </div>
          <div class="flex-grow-1">
            <label for="c-446716">(Декабрь) 446716 ГВС</label>
            <input id="c-446716"
                   class="form-control border-dark"
                   type="number"
                   autocomplete="off">
          </div>
          <div class="flex-grow-1">
            <label for="c-453372">Расход</label>
            <input id="c-453372"
                   class="form-control border-dark"
                   type="number"
                   autocomplete="off">
          </div>
        </div>
        <div class="d-flex gap-2 align-items-end px-3">
          <div class="flex-grow-1">
            <label for="c-8385287">8385287 ХВС</label>
            <input id="c-8385287"
                   class="form-control border-dark"
                   type="number"
                   autocomplete="off">
          </div>
          <div class="flex-grow-1">
            <label for="c-8385287">(Декабрь) 8385287 ХВС</label>
            <input id="c-8385287"
                   class="form-control border-dark"
                   type="number"
                   autocomplete="off">
          </div>
          <div class="flex-grow-1">
            <label for="c-453372">Расход</label>
            <input id="c-453372"
                   class="form-control border-dark"
                   type="number"
                   autocomplete="off">
          </div>
        </div>
        <div class="d-flex gap-2 align-items-end px-3">
          <div class="flex-grow-1">
            <label for="c-453411">453411 ГВС</label>
            <input id="c-453411"
                   class="form-control border-dark"
                   type="number"
                   autocomplete="off">
          </div>
          <div class="flex-grow-1">
            <label for="c-453411">(Декабрь) 453411 ГВС</label>
            <input id="c-453411"
                   class="form-control border-dark"
                   type="number"
                   autocomplete="off">
          </div>
          <div class="flex-grow-1">
            <label for="c-453372">Расход</label>
            <input id="c-453372"
                   class="form-control border-dark"
                   type="number"
                   autocomplete="off">
          </div>
        </div>
        <!--        Итого ГВС, ХВС-->
        <div class="sum-water-container d-flex flex-column gap-3">
          <div class="border-dark border-1 text-center mt-1">
            <span class="fw-bold fs-6">Итого суммарно вода</span>
          </div>
          <div class="d-flex gap-2 align-items-end">
            <div class="flex-grow-1">
              <label for="c-453411">Итого ГВС</label>
              <input id="c-453411"
                     class="form-control border-dark"
                     type="number"
                     autocomplete="off">
            </div>
            <div class="flex-grow-1">
              <label for="c-453411">(Декабрь) Итого ГВС</label>
              <input id="c-453411"
                     class="form-control border-dark"
                     type="number"
                     autocomplete="off">
            </div>
            <div class="flex-grow-1">
              <label for="c-453372">Расход</label>
              <input id="c-453372"
                     class="form-control border-dark"
                     type="number"
                     autocomplete="off">
            </div>
          </div>
          <div class="d-flex gap-2 align-items-end">
            <div class="flex-grow-1">
              <label for="c-8385287">Итого ХВС</label>
              <input id="c-8385287"
                     class="form-control border-dark"
                     type="number"
                     autocomplete="off">
            </div>
            <div class="flex-grow-1">
              <label for="c-8385287">(Декабрь) Итого ХВС</label>
              <input id="c-8385287"
                     class="form-control border-dark"
                     type="number"
                     autocomplete="off">
            </div>
            <div class="flex-grow-1">
              <label for="c-453372">Расход</label>
              <input id="c-453372"
                     class="form-control border-dark"
                     type="number"
                     autocomplete="off">
            </div>
          </div>
        </div>
        <!--        Электричество-->
        <div class="border-dark border-1 text-center mt-1">
          <span class="fw-bold fs-6">Электроэнергия</span>
        </div>
        <div class="d-flex gap-2 align-items-end px-3">
          <div class="flex-grow-1">
            <label for="t1">T1</label>
            <input id="t1"
                   class="form-control border-dark"
                   type="number"
                   autocomplete="off">
          </div>
          <div class="flex-grow-1">
            <label for="t1">(Декабрь) T1</label>
            <input id="t1"
                   class="form-control border-dark"
                   type="number"
                   autocomplete="off">
          </div>
          <div class="flex-grow-1">
            <label for="c-453372">Расход</label>
            <input id="c-453372"
                   class="form-control border-dark"
                   type="number"
                   autocomplete="off">
          </div>
        </div>
        <div class="d-flex gap-2 align-items-end px-3 pb-3">
          <div class="flex-grow-1">
            <label for="t2">T2</label>
            <input id="t2"
                   class="form-control border-dark"
                   type="number"
                   autocomplete="off">
          </div>
          <div class="flex-grow-1">
            <label for="t2">(Декабрь) T2</label>
            <input id="t2"
                   class="form-control border-dark"
                   type="number"
                   autocomplete="off">
          </div>
          <div class="flex-grow-1">
            <label for="c-453372">Расход</label>
            <input id="c-453372"
                   class="form-control border-dark"
                   type="number"
                   autocomplete="off">
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <span class=""></span>
          <form class=" me-3">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="dp"
                  [(ngModel)]="model"
                  ngbDatepicker
                  #ngbDatepicker="ngbDatepicker"
                />
                <button class="btn btn-outline-secondary bi bi-calendar3"
                        (click)="ngbDatepicker.toggle()"
                        type="button"></button>
              </div>
          </form>
            </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="d-flex gap-2 justify-content-between align-items-center">
        <button class="btn btn-outline-dark"
                type="button"
                (click)="onCloseDialog()"
                ngbautofocus>
          Сохранить
        </button>
        <button class="btn btn-outline-dark"
                type="button"
                (click)="onCloseDialog()"
                ngbautofocus>
          Отмена
        </button>
      </div>
    </div>

    <!--    <div class="d-flex justify-content-center align-items-center">-->
    <!--      <span class="text-danger">*на данный момент отправка формы не работает</span>-->
    <!--    </div>-->
  </div>
</div>
