.modal-header{
  background-color: var(--main-color);
}
.modal-body{
  background-color: var(--white-greyer-color);
}
.modal-footer{
  background-color: var(--main-color);
}

input{
  /*background-color: var(--white-color);*/
  /*color: var(--black-color);*/
}

.modal-content{
  border: 0;
}
.border-dark {
  border: var(--main-color) 2px solid !important;
  border-color: var(--main-color) !important;
}
.form-control{
  /*border-radius: 0 !important;*/
}

.sum-water-container{
  /*padding: 1rem;*/
  background-color: var(--third-color);
}

.p-0-my{
  padding: 0 !important;
}
/*.mh-100vh{*/
/*  max-height: 71vh;*/
/*}*/

.btn-outline-secondary{
  color: var(--black-color);
  border-color: var(--black-color);
}
button[disabled] {
  border: 0 !important;
}
.btn-close:focus {
  outline: none; /* Убираем обводку */
  box-shadow: none; /* Убираем тень */
}
