<div class="modal-header">
  <div class="w-100 d-flex justify-content-between align-items-start" (click)="fcSmall = !fcSmall">
    <h5 *ngIf="dialogMode === DialogMode.CREATE" class="text-center">Добавить новые показания счетчика</h5>
    <h5 *ngIf="dialogMode === DialogMode.EDIT" class="text-center">Изменить показания счетчика</h5>
      <button class="btn-close"
              (click)="onCloseDialog()"></button>
  </div>

</div>
<div class="modal-body p-0-my">
  <div class="d-flex flex-column gap-2 overflow-auto ">
    <div class="border-dark border-1 text-center mt-1">
      <span class="fw-bold fs-6">Вода ХВС, ГВС</span>
    </div>
    <!--        Счетчики воды-->
    <div class="d-flex gap-3 align-items-end px-3 pt-3">
      <form class="flex-grow-1"
            [formGroup]="fgCurrentHomeCounters">
        <label for="current_453372">453372 ХВС</label>
        <input id="current_453372"
               class="form-control border-dark"
               type="number"
               [class.form-control-sm]="fcSmall"
               autocomplete="off"
               formControlName='current_453372'
               [required]="fcFieldIsRequired(fgCurrentHomeCounters, 'current_453372', true)">
      </form>
      <form [formGroup]="fgPreviousHomeCounters"
            class="flex-grow-1">
        <label for="previous_453372"><span class="text-capitalize">{{previousDate | date: 'MMMM':':':'ru-RU'}}</span> 453372 ХВС</label>
        <input id="previous_453372"
               formControlName='previous_453372'
               class="form-control border-dark"
               type="number"
               [class.form-control-sm]="fcSmall"
               autocomplete="off">
      </form>
      <form [formGroup]="fgDifferenceHomeCounters"
            class="flex-grow-1">
        <label for="difference_453372">Расход</label>
        <input id="difference_453372"
               formControlName='difference_453372'
               class="form-control border-dark"
               type="number"
               [class.form-control-sm]="fcSmall"
               autocomplete="off">
      </form>
    </div>
    <div class="d-flex gap-2 align-items-end px-3">
      <form [formGroup]="fgCurrentHomeCounters"
            class="flex-grow-1">
        <label for="current_446716">446716 ГВС</label>
        <input id="current_446716"
               formControlName='current_446716'
               [required]="fcFieldIsRequired(fgCurrentHomeCounters, 'current_446716', true)"
               class="form-control border-dark"
               type="number"
               [class.form-control-sm]="fcSmall"
               autocomplete="off">
      </form>
      <form [formGroup]="fgPreviousHomeCounters"
        class="flex-grow-1">
        <label for="previous_446716"><span class="text-capitalize">{{previousDate | date: 'MMMM':':':'ru-RU'}}</span> 446716 ГВС</label>
        <input id="previous_446716"
               formControlName='previous_446716'
               class="form-control border-dark"
               type="number"
               [class.form-control-sm]="fcSmall"
               autocomplete="off">
      </form>
      <form [formGroup]="fgDifferenceHomeCounters"
       class="flex-grow-1">
        <label for="difference_446716">Расход</label>
        <input id="difference_446716"
               formControlName='difference_446716'
               class="form-control border-dark"
               type="number"
               [class.form-control-sm]="fcSmall"
               autocomplete="off">
      </form>
    </div>
    <div class="d-flex gap-2 align-items-end px-3">
      <form [formGroup]="fgCurrentHomeCounters"
            class="flex-grow-1">
        <label for="current_8385287">8385287 ХВС</label>
        <input id="current_8385287"
               formControlName="current_8385287"
               [required]="fcFieldIsRequired(fgCurrentHomeCounters, 'current_8385287', true)"
               class="form-control border-dark"
               type="number"
               [class.form-control-sm]="fcSmall"
               autocomplete="off">
      </form>
      <form [formGroup]="fgPreviousHomeCounters"
           class="flex-grow-1">
        <label for="previous_8385287"><span class="text-capitalize">{{previousDate | date: 'MMMM':':':'ru-RU'}}</span> 8385287 ХВС</label>
        <input id="previous_8385287"
               formControlName="previous_8385287"
               class="form-control border-dark"
               type="number"
               [class.form-control-sm]="fcSmall"
               autocomplete="off">
      </form>
      <form [formGroup]="fgDifferenceHomeCounters" class="flex-grow-1">
        <label for="difference_8385287">Расход</label>
        <input id="difference_8385287"
               formControlName="difference_8385287"
               class="form-control border-dark"
               type="number"
               [class.form-control-sm]="fcSmall"
               autocomplete="off">
      </form>
    </div>
    <div class="d-flex gap-2 align-items-end px-3">
      <form [formGroup]="fgCurrentHomeCounters"
            class="flex-grow-1">
        <label for="current_453411">453411 ГВС</label>
        <input id="current_453411"
               formControlName="current_453411"
               [required]="fcFieldIsRequired(fgCurrentHomeCounters, 'current_453411', true)"
               class="form-control border-dark"
               type="number"
               [class.form-control-sm]="fcSmall"
               autocomplete="off">
      </form>
      <form [formGroup]="fgPreviousHomeCounters"
            class="flex-grow-1">
        <label for="previous_453411"><span class="text-capitalize">{{previousDate | date: 'MMMM':':':'ru-RU'}}</span> 453411 ГВС</label>
        <input id="previous_453411"
               formControlName="previous_453411"
               class="form-control border-dark"
               type="number"
               [class.form-control-sm]="fcSmall"
               autocomplete="off">
      </form>
      <form [formGroup]="fgDifferenceHomeCounters"
           class="flex-grow-1">
        <label for="difference_453411">Расход</label>
        <input id="difference_453411"
               formControlName="difference_453411"
               class="form-control border-dark"
               type="number"
               [class.form-control-sm]="fcSmall"
               autocomplete="off">
      </form>
    </div>
    <!--        Итого ГВС, ХВС-->
    <div class="sum-water-container d-flex flex-column gap-3">
      <div class="border-dark border-1 text-center mt-1 mt-3">
        <span class="fw-bold fs-6">Итого суммарно вода</span>
      </div>
      <div class="d-flex gap-2 align-items-end px-3">
        <form [formGroup]="fgCurrentHomeCounters"
              class="flex-grow-1">
          <label for="current_sumHWS">Итого ГВС</label>
          <input id="current_sumHWS"
                 formControlName="current_sumHWS"
                 class="form-control border-dark"
                 type="number"
                 [class.form-control-sm]="fcSmall"
                 autocomplete="off">
        </form>
        <form [formGroup]="fgPreviousHomeCounters"
              class="flex-grow-1">
          <label for="previous_sumHWS"><span class="text-capitalize">{{previousDate | date: 'MMMM':':':'ru-RU'}}</span> Итого ГВС</label>
          <input id="previous_sumHWS"
                 formControlName="previous_sumHWS"
                 class="form-control border-dark"
                 type="number"
                 [class.form-control-sm]="fcSmall"
                 autocomplete="off">
        </form>
        <form [formGroup]="fgDifferenceHomeCounters"
              class="flex-grow-1">
          <label for="difference_sumHWS">Расход</label>
          <input id="difference_sumHWS"
                 formControlName="difference_sumHWS"
                 class="form-control border-dark"
                 type="number"
                 [class.form-control-sm]="fcSmall"
                 autocomplete="off">
        </form>
      </div>
      <div class="d-flex gap-2 align-items-end px-3 pb-3">
        <form [formGroup]="fgCurrentHomeCounters"
             class="flex-grow-1">
          <label for="current_sumCWS">Итого ХВС</label>
          <input id="current_sumCWS"
                 formControlName="current_sumCWS"
                 class="form-control border-dark"
                 type="number"
                 [class.form-control-sm]="fcSmall"
                 autocomplete="off">
        </form>
        <form [formGroup]="fgPreviousHomeCounters"
              class="flex-grow-1">
          <label for="previous_sumCWS"><span class="text-capitalize">{{previousDate | date: 'MMMM':':':'ru-RU'}}</span> Итого ХВС</label>
          <input id="previous_sumCWS"
                 formControlName="previous_sumCWS"
                 class="form-control border-dark"
                 type="number"
                 [class.form-control-sm]="fcSmall"
                 autocomplete="off">
        </form>
        <form [formGroup]="fgDifferenceHomeCounters"
              class="flex-grow-1">
          <label for="difference_sumCWS">Расход</label>
          <input id="difference_sumCWS"
                 formControlName="difference_sumCWS"
                 class="form-control border-dark"
                 type="number"
                 [class.form-control-sm]="fcSmall"
                 autocomplete="off">
        </form>
      </div>
    </div>
    <!--        Электричество-->
    <div class="border-dark border-1 text-center mt-1">
      <span class="fw-bold fs-6">Электроэнергия</span>
    </div>
    <div class="d-flex gap-2 align-items-end px-3">
      <form [formGroup]="fgCurrentHomeCounters"
            class="flex-grow-1">
        <label for="current_T1">T1</label>
        <input id="current_T1"
               formControlName="current_T1"
               [required]="fcFieldIsRequired(fgCurrentHomeCounters, 'current_T1', true)"
               class="form-control border-dark"
               type="number"
               [class.form-control-sm]="fcSmall"
               autocomplete="off">
      </form>
      <form [formGroup]="fgPreviousHomeCounters"
            class="flex-grow-1">
        <label for="previous_T1"><span class="text-capitalize">{{previousDate | date: 'MMMM':':':'ru-RU'}}</span> T1</label>
        <input id="previous_T1"
               formControlName="previous_T1"
               class="form-control border-dark"
               type="number"
               [class.form-control-sm]="fcSmall"
               autocomplete="off">
      </form>
      <form [formGroup]="fgDifferenceHomeCounters"
            class="flex-grow-1">
        <label for="difference_T1">Расход</label>
        <input id="difference_T1"
               formControlName="difference_T1"
               class="form-control border-dark"
               type="number"
               [class.form-control-sm]="fcSmall"
               autocomplete="off">
      </form>
    </div>
    <div class="d-flex gap-2 align-items-end px-3 pb-3">
      <form [formGroup]="fgCurrentHomeCounters"
            class="flex-grow-1">
        <label for="current_T2">T2</label>
        <input id="current_T2"
               formControlName="current_T2"
               [required]="fcFieldIsRequired(fgCurrentHomeCounters, 'current_T2', true)"
               class="form-control border-dark"
               type="number"
               [class.form-control-sm]="fcSmall"
               autocomplete="off">
      </form>
      <form [formGroup]="fgPreviousHomeCounters"
            class="flex-grow-1">
        <label for="previous_T2"><span class="text-capitalize">{{previousDate | date: 'MMMM':':':'ru-RU'}}</span> T2</label>
        <input id="previous_T2"
               formControlName="previous_T2"
               class="form-control border-dark"
               type="number"
               [class.form-control-sm]="fcSmall"
               autocomplete="off">
      </form>
      <form [formGroup]="fgDifferenceHomeCounters"
            class="flex-grow-1">
        <label for="difference_T2">Расход</label>
        <input id="difference_T2"
               formControlName="difference_T2"
               class="form-control border-dark"
               type="number"
               [class.form-control-sm]="fcSmall"
               autocomplete="off">
      </form>
    </div>
    <div class="d-flex justify-content-end">
      <span class=""></span>
      <form [formGroup]="fgCurrentHomeCounters"
            class="me-3 mb-3">
        <div class="input-group">
          <input
            class="form-control "
            [class.form-control-sm]="fcSmall"
            placeholder="число.месяц.год"
            name="dp"
            formControlName="date_picked"
            ngbDatepicker
            readonly
            #ngbDatepicker="ngbDatepicker"
          />
          <button class="btn btn-outline-secondary bi bi-calendar3"
                  (click)="ngbDatepicker.toggle()"
                  type="button"></button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button *ngIf="dialogMode === DialogMode.CREATE"
          type="button"
          class="btn btn-primary"
          [disabled]="fgCurrentHomeCounters.invalid"
          (keyup.enter)="onCreateCounter()"
          (click)="onCreateCounter()">Создать</button>
  <button *ngIf="dialogMode === DialogMode.EDIT"
          type="button"
          class="btn btn-primary"
          [disabled]="fgCurrentHomeCounters.invalid"
          (keyup.enter)="onEditCounter()"
          (click)="onEditCounter()">Изменить</button>
  <button type="button"
          class="btn btn-outline-dark"
          (keyup.escape)="onCloseDialog()"
          (click)="onCloseDialog()">Закрыть</button>
</div>
