.header-conf{
  display: flex;
  flex-direction: row;
  background: var(--main-color);
  /*height: 350px;*/
  padding: 10px 10px;
}
.body-conf{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #fcfcfc;
}

.add-counter-btn{
  /*width: 200px;*/
  /*height: 110px;*/
  border-radius: 15px;
  border: var(--main-color) 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
}
.container-btns{
  display: flex;
  gap: 3rem;
}

.container-for-table {
  overflow: auto;
  max-height: 60vh;
}

.btn-i{
  width: 80px;
  height: 80px;
}
/*:host{*/
/*  display: block;*/
/*  background-image: url('src/assets/imgs/low opacity h-c logo.png');*/
/*  background-size: cover;*/
/*  background-position: center;*/
/*  background-repeat: no-repeat;*/
/*  position: relative;*/
/*}*/

@media (max-width: 1300px){
  .container-btns{
    margin: 0 2rem;
    justify-content: space-between;
    display: flex;
    gap: 3rem;
  }

  /*.container-btns{*/
  /*  display: flex;*/
  /*  gap: 0.5rem;*/
  /*  padding: 0 0.5rem;*/
  /*}*/
  /*.add-counter-btn{*/
  /*  width: auto;*/
  /*  flex-grow: 1;*/
  /*}*/
}

@media (max-width: 475px){
  .container-btns{
    font-size: 12px;
    gap: 1rem;
  }
}
