.header-conf{
  display: flex;
  flex-direction: row;
  background-color: var(--main-color);
  padding: 10px 10px;
}
.body-conf{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--white-greyer-color);
}

.add-counter-btn{
  border-radius: 15px;
  border: var(--main-color) 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
}
.add-counter-btn:active{
  border: var(--primary-color) 4px solid;
}

.container-btns{
  display: flex;
  gap: 3rem;
}

.container-for-table {
  overflow: auto !important;
  display: flex;
  flex-direction: column;
}

.btn-i{
  width: 80px;
  height: 74px;
}


.disabled-i{
  color: #c9c9c9;
}
.undisabled-i{

}
.xlsx-btn{
  border: var(--xlsx-color) 4px solid;
}

@media (max-width: 1300px){
  .container-btns{
    margin: 0 2rem;
    justify-content: space-between;
    display: flex;
    gap: 3rem;
  }

}

@media (max-width: 475px){
  .bi{
    font-size: 25px !important;
  }

  .container-btns{
    font-size: 12px;
    gap: 0.5rem;
    margin: 0 0.5rem;
  }

  .btn-i{
    height: 51px !important;
  }
}
