<section class="w-100 bg-logo-main">
  <div class="container-my d-flex flex-column">
    <div class="container-btns">
      <button class="btn fw-bold add-counter-btn my-4" (click)="addCounterDialog()">
        Добавить показания счетчиков
      </button>
      <button class="fw-bold add-counter-btn my-4" [disabled]="true">
        Редактировать показания счетчиков
      </button>
      <button class="fw-bold add-counter-btn my-4" [disabled]="true">
        Удалить показания счетчиков
      </button>
    </div>
    <div class="container-for-table">
      <app-table [fieldColumnList]="fieldColumnList"
                 [dataTableSource]="dataTable"></app-table>
    </div>

    <span *ngIf="errorMsg" class="m-3 text-warning-emphasis">{{errorMsg}}</span>
  </div>
</section>
