<div *ngIf="fieldColumnList.length > 0"
     class="overflow-auto d-flex" >
  <table  *ngIf="isDataSourceFull()"
  class="table table-bordered table-responsive table-sm overflow-auto" >
    <thead>
    <tr class="sticky-top border-top-0">
      <th class="text-nowrap th-config"
          *ngFor="let field of fieldColumnList">
        {{getNameField(field)}}
      </th>
    </tr>
    </thead>
    <tbody class="overflow-auto">
    <ng-container>
      <tr *ngFor="let data of dataTableSource; index as i"
          (click)="onSelectTableElement(i)"
          [class.striped-con]="i % 2 == 0"
          [class.unstriped-con]="i % 2 == 1"
          [class.active-element]="data?.id == selectedObject?.id">
        <td *ngFor="let field of fieldColumnList">
          <ng-container *ngIf="!data[field]">
            <span><i class="bi bi-dash"></i></span>
          </ng-container>
          <ng-container *ngIf="field == 'date_create'">
            <span class="text-capitalize">{{ data[field] | date: 'MMMM yyyy':':':'ru-RU'}}</span>
          </ng-container>
          <ng-container *ngIf="field == 'date_edit'">
            <span class="text-capitalize">{{ data[field] | date: 'dd MMMM yyyy':':':'ru-RU'}}</span>
          </ng-container>
          <ng-container class="cell-config"
                        *ngIf="data[field] && field != 'date_edit' && field != 'date_create'">
            <span>{{data[field]}}</span>
          </ng-container>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
