thead {
  --bs-table-bg-type: #75cea7;
}
.striped-con{
  --bs-table-bg: var(--striped-table-row);
}
.unstriped-con{
  --bs-table-bg: var(--unstriped-table-row);
}
.active-element{
  --bs-table-bg-type: #b7efc6;
}
span{
  color: var(--black-color)
}


.container-table{
  overflow: auto;
  max-height: 30vh;
}
