<div class="modal-header">
  <div class="w-100 d-flex justify-content-between align-items-start">
    <h5 class="bp">Удалить показания за <span class="fw-bold bp">{{selectedCounter.date_create | date: 'dd MMMM yyyy':':':'ru-RU'}}</span>?</h5>
    <button type="button"
            class="btn-close"
            (click)="onCloseDialog()">
    </button>
  </div>

</div>
<div class="modal-body p-0-my">
  <div class="d-flex flex-column gap-2 overflow-auto ">
    Вы хотите удалить данную запись:
    <br>
    <app-table [dataTableSourceSet]="selectedCounterList"></app-table>
  </div>
</div>
<div class="modal-footer">
  <button type="button"
          class="btn btn-danger"
          (click)="onDeleteCounter()">Удалить</button>
  <button type="button"
          class="btn btn-outline-primary"
          (click)="onCloseDialog()">Закрыть</button>
</div>
